* {
  font-family: 'Courier New', monospace;
}

body {
  margin-right: 80px;
  margin-left: 80px;
}

h1,
h2 {
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 16px;
  max-width: 60%;
}

li {
  max-width: 60%;
}

.nav {
  background-color: burlywood;
  text-align: center;
  list-style-type: none;
}

.nav-link {
  color: #050505;
  font-size: 24px;
}

.ingredients-list {
  list-style-type: "\1F357 \00a0"; /* 🍗 and a space, roman numbers have a space after them */
  list-style-position: outside;
}

.ingredients-list li {
  font-size: 16px;
  margin: 10px;
}

.steps-list {
  list-style-type: upper-roman;
}

.steps-list li {
  font-size: 22px;
}